* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: .95rem;
}
body{
  background-color: #374C5E;
}
.wrapper{
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  justify-content: center;
}
.centered-wrapper{
  background-color: white;
  padding: 30px;
}
#genRoom{
  background-color: #212D38;
  padding: 3px 18px 3px 18px;
  color: white;
  border: none;
  font-size: 36px;
  display: block;
}
.game-style-select{
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
